@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* --background-my-color: bg-[#101728]; */
}

html{
  scroll-behavior: smooth;
}

@layer base {
  body {
    /* @apply dark:bg-[#16181c] bg-white */
    @apply dark:bg-slate-900 bg-white
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: #101728;

}


